<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidApp">
        <activity android:name=".splashscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".vaccine">

        </activity>
        <activity android:name=".others" />
        <activity android:name=".bloodpressure" />
        <activity android:name=".diabetes" />
        <activity android:name=".ui.vaccinationDrive" />
        <activity android:name=".RoutineActivity2" />
        <activity android:name=".HomeActivity2" />
        <activity android:name=".LoginActivity2" />
        <activity android:name=".Statistics" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
    </application>

    <uses-feature android:name="android.hardware.type.watch" />
    <!--Allow Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>